<!DOCTYPE html>
<html>
  <head>
    <title>Bicyclestore</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <style> 
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #333;
  color: white;
  margin: 0;
  padding: 20px;
}

.product {
  display: inline-block;
  text-align: center;
  width: 200px;
  margin: 20px;
}

.product-image {
  width: 100%;
  height: auto;
}

.product p {
  margin: 10px 0;
}

.footer {
      background-color: #333;
      color: white;
      padding: 10px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

  </style>
  <body>
    <h1>Bicyclestore: All bikes in store</h1>
    {% for product in products %}
    <div class="product">
      <p>{{ product.brand }}</p>
      <img class="product-image" src="{{ product.image_url }}" alt="{{ product.brand }}">
      <p>{{ product.price }}€</p>
      <p>{{ product.description }}</p>
    </div>
    {% endfor %}
    <div class="footer">
      <p>© 2023 Bicyclestore. All rights reserved.</p>
    </div>
  </body>
</html>
